.wrapper {
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    display: flex;
    align-items: center;
}

.custom-btn {
    color: #969494;
}

// Action

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    font-size: 2.6rem;
    padding: 0 12px;
    color: #161823;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.more-btn {
    display: flex;
    font-size: 1.8rem;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -12px;
    right: 0;
    height: 2rem;
    line-height: 2rem;
    padding: 0 6px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--primary);
}

// Current user

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
